<div class="flex flex-col mx-auto max-w-3xl">
  <div class="mb-4">
    <ul class="flex flex-wrap text-sm font-medium text-center gap-1" id="default-tab"
      data-tabs-toggle="#default-tab-content" role="tablist">
      <li class="" role="presentation">
        <button
          class="inline-block text-base px-4 py-3 border-b-2 aria rounded-t-lg aria-selected:text-primary aria-selected:border-primary"
          id="task-owner-tab" data-tabs-target="#task-owner" type="button" role="tab" aria-controls="task-owner"
          aria-selected="false">Creador</button>
      </li>
      <li class="" role="presentation">
        <button
          class="inline-block text-base px-4 py-3 border-b-2 aria rounded-t-lg aria-selected:text-primary aria-selected:border-primary"
          id="task-bidder-tab" data-tabs-target="#task-bidder" type="button" role="tab" aria-controls="task-bidder"
          aria-selected="false">Ofertante</button>
      </li>
    </ul>
  </div>
  <div id="default-tab-content">
    <div class="hidden rounded-lg bg-gray-50" id="task-owner" role="tabpanel" aria-labelledby="task-owner-tab">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-10">
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 1: Registrarse</h2>
          <div class="flex gap-2">
            <p class="">Elije un usuario y contraseña para crea una cuenta en Atenas.</p>
            <div class="w-44 text-primary fill-primary">
              <svg fill="" viewBox="0 0 46.00 46.00" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                stroke-width="0.9200000000000002">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                  stroke-width="2.4840000000000004"></g>
                <g id="SVGRepo_iconCarrier">
                  <path id="_31.ID-Horizontal" data-name="31.ID-Horizontal"
                    d="M43,42H5a4,4,0,0,1-4-4V17a4,4,0,0,1,4-4H20V9a4,4,0,0,1,8,0v4H43a4,4,0,0,1,4,4V38A4,4,0,0,1,43,42ZM17.014,34.488v0S17,33.711,17,33.711a11.22,11.22,0,0,0,2.031-1.378,3.029,3.029,0,0,0,.741-1.362,33.627,33.627,0,0,0,.238-3.7c0-2.062-1.033-4.28-4.007-4.28v0c-2.974,0-4.007,2.219-4.007,4.28a33.874,33.874,0,0,0,.238,3.7,3.029,3.029,0,0,0,.741,1.362A11.219,11.219,0,0,0,15,33.71s-.014.781-.018.781v0s.029,1.146.029,1.487a2.186,2.186,0,0,1-2.223,2.018h0c-2.593.113-3.2.976-3.21.984A4.877,4.877,0,0,0,9,40H23a4.657,4.657,0,0,0-.582-1.022c0-.009-.617-.871-3.21-.984h0a2.186,2.186,0,0,1-2.223-2.018C16.984,35.634,17.014,34.488,17.014,34.488ZM26,9a2,2,0,0,0-4,0v6a2,2,0,0,0,4,0Zm19,8a2,2,0,0,0-2-2H28a4,4,0,0,1-8,0H5a2,2,0,0,0-2,2V38a2,2,0,0,0,2,2H6.8a10.841,10.841,0,0,1,1.16-2.24c.025-.014.848-1.739,5-1.79.006-.021.01-1.042.022-1.027a7.286,7.286,0,0,1-1.051-.816,4.187,4.187,0,0,1-1.452-2.583,39.458,39.458,0,0,1-.488-4.166c0-3.171,1.265-6.381,5.953-6.381h.121c4.688,0,5.953,3.21,5.953,6.381a39.458,39.458,0,0,1-.488,4.166,4.187,4.187,0,0,1-1.452,2.583,7.111,7.111,0,0,1-1.051.816c.013-.015.017,1.007.022,1.027,4.151.051,4.974,1.776,5,1.79A10.841,10.841,0,0,1,25.2,40H43a2,2,0,0,0,2-2Zm-5,9H28a1,1,0,0,1,0-2H40a1,1,0,0,1,0,2ZM28,30h2a1,1,0,0,1,0,2H28a1,1,0,0,1,0-2Zm0,4h6a1,1,0,0,1,0,2H28a1,1,0,0,1,0-2Zm4-3a1,1,0,0,1,1-1h4a1,1,0,0,1,0,2H33A1,1,0,0,1,32,31ZM23,9h2v2H23Z"
                    transform="translate(-1 -5)" fill-rule="evenodd"></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 2: Crear tarea</h2>
          <div class="flex gap-2">
            <p class="">Haz clic en "Crear tarea" y completa el formulario.</p>
            <div class="w-44">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M6 11.25C6 8.35051 8.3505 6 11.25 6H36.75C39.6495 6 42 8.3505 42 11.25V24.0436C41.2196 23.544 40.3823 23.1255 39.5 22.7999V11.25C39.5 9.73122 38.2688 8.5 36.75 8.5H11.25C9.73122 8.5 8.5 9.73122 8.5 11.25V36.75C8.5 38.2688 9.73122 39.5 11.25 39.5H22.7999C23.1255 40.3823 23.544 41.2196 24.0436 42H11.25C8.35051 42 6 39.6495 6 36.75V11.25Z"
                    fill="#19A7CE"></path>
                  <path
                    d="M10 21.5C10 19.0147 12.0147 17 14.5 17C16.9853 17 19 19.0147 19 21.5C19 23.9853 16.9853 26 14.5 26C12.0147 26 10 23.9853 10 21.5ZM14.5 19.5C13.3954 19.5 12.5 20.3954 12.5 21.5C12.5 22.6046 13.3954 23.5 14.5 23.5C15.6046 23.5 16.5 22.6046 16.5 21.5C16.5 20.3954 15.6046 19.5 14.5 19.5Z"
                    fill="#19A7CE"></path>
                  <path
                    d="M14.5 29C12.0147 29 10 31.0147 10 33.5C10 35.9853 12.0147 38 14.5 38C16.9853 38 19 35.9853 19 33.5C19 31.0147 16.9853 29 14.5 29ZM12.5 33.5C12.5 32.3954 13.3954 31.5 14.5 31.5C15.6046 31.5 16.5 32.3954 16.5 33.5C16.5 34.6046 15.6046 35.5 14.5 35.5C13.3954 35.5 12.5 34.6046 12.5 33.5Z"
                    fill="#19A7CE"></path>
                  <path
                    d="M21.0012 20.25C21.0012 19.5596 21.5609 19 22.2512 19H36.75C37.4404 19 38 19.5596 38 20.25C38 20.9404 37.4404 21.5 36.75 21.5H22.2512C21.5609 21.5 21.0012 20.9404 21.0012 20.25Z"
                    fill="#19A7CE"></path>
                  <path
                    d="M11.2632 11.0952C10.5728 11.0952 10.0132 11.6549 10.0132 12.3452C10.0132 13.0356 10.5728 13.5952 11.2632 13.5952H36.7298C37.4202 13.5952 37.9798 13.0356 37.9798 12.3452C37.9798 11.6549 37.4202 11.0952 36.7298 11.0952H11.2632Z"
                    fill="#19A7CE"></path>
                  <path
                    d="M46 35C46 41.0751 41.0751 46 35 46C28.9249 46 24 41.0751 24 35C24 28.9249 28.9249 24 35 24C41.0751 24 46 28.9249 46 35ZM36 28C36 27.4477 35.5523 27 35 27C34.4477 27 34 27.4477 34 28V34H28C27.4477 34 27 34.4477 27 35C27 35.5523 27.4477 36 28 36H34V42C34 42.5523 34.4477 43 35 43C35.5523 43 36 42.5523 36 42V36H42C42.5523 36 43 35.5523 43 35C43 34.4477 42.5523 34 42 34H36V28Z"
                    fill="#19A7CE"></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 3: Aceptar oferta</h2>
          <div class="flex gap-2">
            <p class="">Espera a recibir ofertas y acepta la mejor de ellas.</p>
            <div class="w-44">
              <svg fill="#19A7CE" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 41.883 41.883" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <path
                      d="M14.257,14.479h-0.516l0.775-2.219h0.636c0.468,0,0.58,0.264,0.37,0.864l-0.164,0.468 C15.125,14.261,14.75,14.479,14.257,14.479z M21.426,22.048c-0.42,0-0.764,0.229-0.974,0.828l-1.585,4.532 c-0.21,0.601-0.025,0.828,0.395,0.828c0.42,0,0.763-0.229,0.973-0.828l1.585-4.532C22.029,22.277,21.846,22.048,21.426,22.048z M14.15,17.429l0.255-0.731c0.273-0.78,0.104-1.02-0.495-1.02h-0.588l-0.901,2.579h0.756C13.62,18.255,13.931,18.051,14.15,17.429z M40.521,24.852c0.493,0.758,0.616,1.698,0.337,2.561c-0.278,0.861-0.932,1.549-1.776,1.873l-4.353,1.673l-0.245,4.655 c-0.048,0.904-0.501,1.738-1.232,2.271c-0.732,0.533-1.666,0.705-2.539,0.472l-4.504-1.207l-2.936,3.623 c-0.569,0.703-1.426,1.111-2.331,1.111s-1.761-0.408-2.331-1.111l-2.935-3.623l-4.503,1.207c-0.875,0.233-1.807,0.062-2.54-0.472 c-0.732-0.532-1.185-1.366-1.233-2.271l-0.245-4.655l-4.352-1.673c-0.845-0.323-1.498-1.012-1.777-1.873 c-0.28-0.86-0.156-1.801,0.337-2.561l2.539-3.911l-2.539-3.91c-0.493-0.759-0.617-1.7-0.337-2.561 c0.279-0.861,0.932-1.549,1.777-1.874l4.352-1.672L7.401,6.27C7.448,5.366,7.901,4.533,8.633,4 c0.732-0.531,1.667-0.703,2.539-0.471l4.503,1.205l2.936-3.623C19.181,0.408,20.037,0,20.942,0s1.762,0.408,2.331,1.111 l2.936,3.623l4.504-1.206c0.875-0.233,1.808-0.061,2.539,0.471c0.73,0.532,1.185,1.366,1.231,2.27l0.245,4.655l4.354,1.672 c0.844,0.324,1.498,1.013,1.775,1.874c0.28,0.86,0.156,1.801-0.337,2.561l-2.539,3.91L40.521,24.852z M27.969,12.258l-2.518,7.196 h1.319l2.517-7.196h1.381l0.418-1.199H27.01l-0.42,1.199H27.969z M22.033,13.074c-0.838,2.398,1.626,2.722,1.022,4.449 c-0.21,0.6-0.55,0.816-0.97,0.816s-0.607-0.216-0.397-0.816l0.208-0.6h-1.247l-0.18,0.516c-0.469,1.343-0.066,2.11,1.229,2.11 c1.295,0,2.235-0.768,2.705-2.11c0.841-2.399-1.626-2.723-1.022-4.45c0.211-0.6,0.531-0.828,0.949-0.828 c0.42,0,0.58,0.229,0.369,0.828l-0.119,0.348h1.245l0.095-0.264c0.47-1.343,0.078-2.111-1.205-2.111S22.504,11.732,22.033,13.074z M18.49,11.06l-2.936,8.396h3.598l0.419-1.199h-2.279l0.86-2.459h1.811l0.419-1.199h-1.811l0.817-2.339h2.279l0.42-1.199 L18.49,11.06L18.49,11.06z M10.682,19.456h2.075c1.319,0,2.246-0.696,2.699-1.991l0.239-0.684c0.311-0.888,0.257-1.523-0.354-1.799 c0.684-0.276,1.141-0.828,1.443-1.691l0.104-0.3c0.453-1.295,0.088-1.931-1.279-1.931h-1.991L10.682,19.456z M11.756,27.326 l0.39-1.115h-1.248l-0.419,1.199c-0.21,0.6-0.549,0.816-0.969,0.816c-0.419,0-0.608-0.218-0.398-0.816l1.585-4.533 c0.21-0.6,0.554-0.828,0.974-0.828s0.604,0.229,0.394,0.828l-0.314,0.898h1.248l0.285-0.814c0.47-1.344,0.066-2.111-1.229-2.111 c-1.295,0-2.236,0.767-2.706,2.111l-1.526,4.365c-0.47,1.344-0.066,2.111,1.229,2.111C10.346,29.438,11.287,28.67,11.756,27.326z M16.019,29.34l2.936-8.396h-1.343l-1.258,3.598h-1.5l1.258-3.598h-1.319l-2.936,8.396h1.319l1.258-3.6h1.5l-1.258,3.6H16.019z M21.585,27.326l1.524-4.365c0.472-1.344,0.031-2.111-1.266-2.111c-1.294,0-2.271,0.767-2.74,2.111l-1.526,4.365 c-0.47,1.344-0.03,2.111,1.265,2.111S21.114,28.67,21.585,27.326z M25.987,20.944h-1.318l-2.936,8.396h1.318L25.987,20.944z M28.447,27.326c0.839-2.398-1.626-2.723-1.021-4.449c0.209-0.6,0.529-0.828,0.947-0.828c0.42,0,0.58,0.229,0.369,0.828 l-0.119,0.348h1.246l0.094-0.264c0.47-1.344,0.078-2.111-1.205-2.111s-2.211,0.767-2.683,2.111 c-0.839,2.398,1.627,2.723,1.022,4.449c-0.21,0.6-0.55,0.816-0.97,0.816c-0.418,0-0.607-0.218-0.397-0.816l0.209-0.6h-1.247 l-0.18,0.516c-0.471,1.344-0.067,2.111,1.229,2.111S27.978,28.67,28.447,27.326z M35.034,20.944h-3.599L28.5,29.34h3.599 l0.419-1.197h-2.278l0.859-2.459h1.811l0.42-1.199h-1.812l0.818-2.338h2.276L35.034,20.944z">
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 4: Pagar y chatear</h2>
          <div class="flex gap-2">
            <p class="">Realiza el pago a Atenas y comienza a chatear con el ofertante.</p>
            <div class="w-44 text-primary">
              <svg fill="currentColor" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M25,8.2c-0.3-4-3.6-7.2-7.7-7.2H8.8C4.5,1,1,4.5,1,8.7V23c0,0.4,0.2,0.7,0.6,0.9C1.7,24,1.9,24,2,24c0.2,0,0.5-0.1,0.7-0.2 c1.3-1.1,2.8-2,4.3-2.7V30c0,0.4,0.2,0.7,0.6,0.9C7.7,31,7.9,31,8,31c0.2,0,0.5-0.1,0.7-0.2c2.9-2.6,6.7-4,10.6-4h4 c4.3,0,7.8-3.5,7.8-7.7v-3.4C31,12.1,28.4,9,25,8.2z M29,19.1c0,3.2-2.6,5.7-5.8,5.7h-4C15.6,24.8,12,25.9,9,28v-7.6 c1.4-0.4,2.8-0.6,4.3-0.6h4c4.3,0,7.8-3.5,7.8-7.7v-1.8c2.3,0.7,4,2.9,4,5.4V19.1z">
                  </path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 5: Finalizar</h2>
          <div class="flex gap-2">
            <p class="">Una vez que la tarea esté completada, finaliza la tarea para liberar el pago al ofertante.</p>
            <div class="w-44 text-primary">
              <svg viewBox="0 0 1024 1024" fill="#19A7CE" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor" stroke-width="20.48">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M824.8 1003.2H203.2c-12.8 0-25.6-2.4-37.6-7.2-11.2-4.8-21.6-12-30.4-20.8-8.8-8.8-16-19.2-20.8-30.4-4.8-12-7.2-24-7.2-37.6V260c0-12.8 2.4-25.6 7.2-37.6 4.8-11.2 12-21.6 20.8-30.4 8.8-8.8 19.2-16 30.4-20.8 12-4.8 24-7.2 37.6-7.2h94.4v48H203.2c-26.4 0-48 21.6-48 48v647.2c0 26.4 21.6 48 48 48h621.6c26.4 0 48-21.6 48-48V260c0-26.4-21.6-48-48-48H730.4v-48H824c12.8 0 25.6 2.4 37.6 7.2 11.2 4.8 21.6 12 30.4 20.8 8.8 8.8 16 19.2 20.8 30.4 4.8 12 7.2 24 7.2 37.6v647.2c0 12.8-2.4 25.6-7.2 37.6-4.8 11.2-12 21.6-20.8 30.4-8.8 8.8-19.2 16-30.4 20.8-11.2 4.8-24 7.2-36.8 7.2z"
                    fill=""></path>
                  <path
                    d="M752.8 308H274.4V152.8c0-32.8 26.4-60 60-60h61.6c22.4-44 67.2-72.8 117.6-72.8 50.4 0 95.2 28.8 117.6 72.8h61.6c32.8 0 60 26.4 60 60v155.2m-430.4-48h382.4V152.8c0-6.4-5.6-12-12-12H598.4l-5.6-16c-12-33.6-43.2-56-79.2-56s-67.2 22.4-79.2 56l-5.6 16H334.4c-6.4 0-12 5.6-12 12v107.2zM432.8 792c-6.4 0-12-2.4-16.8-7.2L252.8 621.6c-4.8-4.8-7.2-10.4-7.2-16.8s2.4-12 7.2-16.8c4.8-4.8 10.4-7.2 16.8-7.2s12 2.4 16.8 7.2L418.4 720c4 4 8.8 5.6 13.6 5.6s10.4-1.6 13.6-5.6l295.2-295.2c4.8-4.8 10.4-7.2 16.8-7.2s12 2.4 16.8 7.2c9.6 9.6 9.6 24 0 33.6L449.6 784.8c-4.8 4-11.2 7.2-16.8 7.2z"
                    fill=""></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 6: Dejar una reseña</h2>
          <div class="flex gap-2">
            <p class="">Deja una reseña sobre el ofertante para ayudar a otros usuarios.</p>
            <div class="w-44 text-primary">
              <svg fill="#19A7CE" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                stroke-width="0.96">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g data-name="37 rating" id="_37_rating">
                    <path
                      d="M42.83,3.5H21.17a6,6,0,0,0-6,6V28.66a6,6,0,0,0,6,6H23.4l7.84,9.23a1,1,0,0,0,1.1.29.992.992,0,0,0,.66-.94V34.66h9.83a6,6,0,0,0,6-6V9.5A6,6,0,0,0,42.83,3.5Zm4,25.16a4,4,0,0,1-4,4H32a1,1,0,0,0-1,1v6.86l-6.38-7.51a1.011,1.011,0,0,0-.76-.35H21.17a4,4,0,0,1-4-4V9.5a4,4,0,0,1,4-4H42.83a4,4,0,0,1,4,4Z">
                    </path>
                    <path d="M44.66,10.75a1,1,0,0,1-1,1H20.34a1,1,0,0,1,0-2H43.66A1,1,0,0,1,44.66,10.75Z"></path>
                    <path d="M44.66,14.92a1,1,0,0,1-1,1H20.34a1,1,0,0,1,0-2H43.66A.99.99,0,0,1,44.66,14.92Z"></path>
                    <path d="M44.66,19.08a1,1,0,0,1-1,1H20.34a1,1,0,0,1,0-2H43.66A1,1,0,0,1,44.66,19.08Z"></path>
                    <path d="M44.66,23.25a1,1,0,0,1-1,1H28.67a1,1,0,0,1,0-2H43.66A.99.99,0,0,1,44.66,23.25Z"></path>
                    <path d="M44.66,27.41a1,1,0,0,1-1,1H28.67a1,1,0,0,1,0-2H43.66A1,1,0,0,1,44.66,27.41Z"></path>
                    <path
                      d="M18.65,46.55a1.009,1.009,0,0,0-.95-.69H13.57l-1.28-3.93a1,1,0,0,0-1.9,0L9.11,45.86H4.98a1,1,0,0,0-.59,1.81L7.73,50.1,6.46,54.02a1,1,0,0,0,.95,1.31A1.01,1.01,0,0,0,8,55.14l3.34-2.43,3.34,2.43a1,1,0,0,0,1.54-1.11L14.94,50.1l3.35-2.43A1.012,1.012,0,0,0,18.65,46.55Zm-5.83,3.47.55,1.7-1.44-1.05a.99.99,0,0,0-1.18,0L9.31,51.72l.55-1.7a.992.992,0,0,0-.36-1.11L8.06,47.86H9.84a1.009,1.009,0,0,0,.95-.69l.55-1.7.55,1.7a1,1,0,0,0,.95.69h1.78l-1.44,1.05A.977.977,0,0,0,12.82,50.02Z">
                    </path>
                    <path
                      d="M39.31,51.71a1,1,0,0,0-.95-.69H34.23l-1.28-3.93a1,1,0,0,0-1.9,0l-1.28,3.93H25.64a1,1,0,0,0-.59,1.81l3.35,2.43-1.28,3.93a1.012,1.012,0,0,0,.36,1.12,1.022,1.022,0,0,0,1.18,0L32,57.88l3.34,2.43a1.011,1.011,0,0,0,1.18,0,1.012,1.012,0,0,0,.36-1.12L35.6,55.26l3.35-2.43A1,1,0,0,0,39.31,51.71Zm-5.83,3.48.55,1.69-1.44-1.05a1.011,1.011,0,0,0-1.18,0l-1.44,1.05.55-1.69a.992.992,0,0,0-.36-1.12l-1.44-1.05H30.5a1,1,0,0,0,.95-.69L32,50.64l.55,1.69a1,1,0,0,0,.95.69h1.78l-1.44,1.05A.992.992,0,0,0,33.48,55.19Z">
                    </path>
                    <path
                      d="M59.97,46.55a.991.991,0,0,0-.95-.69H54.89l-1.28-3.93a1,1,0,0,0-1.9,0l-1.28,3.93H46.3a1,1,0,0,0-.59,1.81l3.35,2.43-1.28,3.93a1,1,0,0,0,1.54,1.11l3.34-2.43L56,55.14a1.01,1.01,0,0,0,.59.19.967.967,0,0,0,.59-.19.987.987,0,0,0,.36-1.12L56.27,50.1l3.34-2.43A1,1,0,0,0,59.97,46.55Zm-5.83,3.47.55,1.7-1.44-1.05a.988.988,0,0,0-.59-.19,1.01,1.01,0,0,0-.59.19l-1.44,1.05.55-1.7a.977.977,0,0,0-.36-1.11l-1.44-1.05h1.78a1,1,0,0,0,.95-.69l.55-1.7.55,1.7a1.009,1.009,0,0,0,.95.69h1.78L54.5,48.91A.992.992,0,0,0,54.14,50.02Z">
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden rounded-lg bg-gray-50" id="task-bidder" role="tabpanel" aria-labelledby="task-bidder-tab">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-10">
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 1: Registrarse</h2>
          <div class="flex gap-2">
            <p class="">Elije un usuario y contraseña para crea una cuenta en Atenas.</p>
            <div class="w-44 text-primary fill-primary">
              <svg fill="" viewBox="0 0 46.00 46.00" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                stroke-width="0.9200000000000002">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                  stroke-width="2.4840000000000004"></g>
                <g id="SVGRepo_iconCarrier">
                  <path id="_31.ID-Horizontal" data-name="31.ID-Horizontal"
                    d="M43,42H5a4,4,0,0,1-4-4V17a4,4,0,0,1,4-4H20V9a4,4,0,0,1,8,0v4H43a4,4,0,0,1,4,4V38A4,4,0,0,1,43,42ZM17.014,34.488v0S17,33.711,17,33.711a11.22,11.22,0,0,0,2.031-1.378,3.029,3.029,0,0,0,.741-1.362,33.627,33.627,0,0,0,.238-3.7c0-2.062-1.033-4.28-4.007-4.28v0c-2.974,0-4.007,2.219-4.007,4.28a33.874,33.874,0,0,0,.238,3.7,3.029,3.029,0,0,0,.741,1.362A11.219,11.219,0,0,0,15,33.71s-.014.781-.018.781v0s.029,1.146.029,1.487a2.186,2.186,0,0,1-2.223,2.018h0c-2.593.113-3.2.976-3.21.984A4.877,4.877,0,0,0,9,40H23a4.657,4.657,0,0,0-.582-1.022c0-.009-.617-.871-3.21-.984h0a2.186,2.186,0,0,1-2.223-2.018C16.984,35.634,17.014,34.488,17.014,34.488ZM26,9a2,2,0,0,0-4,0v6a2,2,0,0,0,4,0Zm19,8a2,2,0,0,0-2-2H28a4,4,0,0,1-8,0H5a2,2,0,0,0-2,2V38a2,2,0,0,0,2,2H6.8a10.841,10.841,0,0,1,1.16-2.24c.025-.014.848-1.739,5-1.79.006-.021.01-1.042.022-1.027a7.286,7.286,0,0,1-1.051-.816,4.187,4.187,0,0,1-1.452-2.583,39.458,39.458,0,0,1-.488-4.166c0-3.171,1.265-6.381,5.953-6.381h.121c4.688,0,5.953,3.21,5.953,6.381a39.458,39.458,0,0,1-.488,4.166,4.187,4.187,0,0,1-1.452,2.583,7.111,7.111,0,0,1-1.051.816c.013-.015.017,1.007.022,1.027,4.151.051,4.974,1.776,5,1.79A10.841,10.841,0,0,1,25.2,40H43a2,2,0,0,0,2-2Zm-5,9H28a1,1,0,0,1,0-2H40a1,1,0,0,1,0,2ZM28,30h2a1,1,0,0,1,0,2H28a1,1,0,0,1,0-2Zm0,4h6a1,1,0,0,1,0,2H28a1,1,0,0,1,0-2Zm4-3a1,1,0,0,1,1-1h4a1,1,0,0,1,0,2H33A1,1,0,0,1,32,31ZM23,9h2v2H23Z"
                    transform="translate(-1 -5)" fill-rule="evenodd"></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 2: Ofertar</h2>
          <div class="flex gap-2">
            <p class="">Haz clic en "Ofertar" y completa el formulario para enviar tu oferta.</p>
            <div class="w-44 text-primary fill-primary">
              <svg fill="#19A7CE" viewBox="0 0 24.00 24.00" xmlns="http://www.w3.org/2000/svg" stroke="#19A7CE" stroke-width="0.4800000000000001"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14,8 L14.5,8 C15.3284271,8 16,8.67157288 16,9.5 C16,9.77614237 15.7761424,10 15.5,10 C15.2238576,10 15,9.77614237 15,9.5 C15,9.22385763 14.7761424,9 14.5,9 L9.5,9 C9.22385763,9 9,9.22385763 9,9.5 L9,10.6327046 C9,10.8815298 9.18296495,11.0924901 9.42928932,11.1276793 L14.712132,11.8823712 C15.4511051,11.9879387 16,12.6208198 16,13.3672954 L16,14.5 C16,15.3284271 15.3284271,16 14.5,16 L14,16 L14,16.5 C14,16.7761424 13.7761424,17 13.5,17 C13.2238576,17 13,16.7761424 13,16.5 L13,16 L11,16 L11,16.5 C11,16.7761424 10.7761424,17 10.5,17 C10.2238576,17 10,16.7761424 10,16.5 L10,16 L9.5,16 C8.67157288,16 8,15.3284271 8,14.5 C8,14.2238576 8.22385763,14 8.5,14 C8.77614237,14 9,14.2238576 9,14.5 C9,14.7761424 9.22385763,15 9.5,15 L14.5,15 C14.7761424,15 15,14.7761424 15,14.5 L15,13.3672954 C15,13.1184702 14.817035,12.9075099 14.5707107,12.8723207 L9.28786797,12.1176288 C8.54889486,12.0120613 8,11.3791802 8,10.6327046 L8,9.5 C8,8.67157288 8.67157288,8 9.5,8 L10,8 L10,7.5 C10,7.22385763 10.2238576,7 10.5,7 C10.7761424,7 11,7.22385763 11,7.5 L11,8 L13,8 L13,7.5 C13,7.22385763 13.2238576,7 13.5,7 C13.7761424,7 14,7.22385763 14,7.5 L14,8 Z M3,12 C3,7.02943725 7.02943725,3 12,3 C16.9705627,3 21,7.02943725 21,12 C21,16.9705627 16.9705627,21 12,21 C10.3530795,21 8.77057874,20.5564251 7.38911542,19.7306745 L3.65811388,20.9743416 C3.23552061,21.1152061 2.85357402,20.674818 3.0527864,20.2763932 L4.61690365,17.1481587 C3.5715004,15.6518876 3,13.8686355 3,12 Z M7.29435609,18.7081684 C7.43696921,18.6606307 7.59340256,18.6797811 7.72033704,18.7603167 C8.99009819,19.5659362 10.4623473,20 12,20 C16.418278,20 20,16.418278 20,12 C20,7.581722 16.418278,4 12,4 C7.581722,4 4,7.581722 4,12 C4,13.7564675 4.56695793,15.4257185 5.59951254,16.8001796 C5.71335064,16.9517125 5.73172489,17.1545842 5.64696482,17.3241043 L4.48704816,19.6439377 L7.29435609,18.7081684 Z"></path> </g></svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 3: Chatear</h2>
          <div class="flex gap-2">
            <p class="">Una vez que tu oferta sea aceptada, comienza a chatear con el creador de la tarea.</p>
            <div class="w-44 text-primary fill-primary">
              <svg fill="currentColor" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M25,8.2c-0.3-4-3.6-7.2-7.7-7.2H8.8C4.5,1,1,4.5,1,8.7V23c0,0.4,0.2,0.7,0.6,0.9C1.7,24,1.9,24,2,24c0.2,0,0.5-0.1,0.7-0.2 c1.3-1.1,2.8-2,4.3-2.7V30c0,0.4,0.2,0.7,0.6,0.9C7.7,31,7.9,31,8,31c0.2,0,0.5-0.1,0.7-0.2c2.9-2.6,6.7-4,10.6-4h4 c4.3,0,7.8-3.5,7.8-7.7v-3.4C31,12.1,28.4,9,25,8.2z M29,19.1c0,3.2-2.6,5.7-5.8,5.7h-4C15.6,24.8,12,25.9,9,28v-7.6 c1.4-0.4,2.8-0.6,4.3-0.6h4c4.3,0,7.8-3.5,7.8-7.7v-1.8c2.3,0.7,4,2.9,4,5.4V19.1z">
                  </path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 4: Finalizar</h2>
          <div class="flex gap-2">
            <p class="">Una vez que la tarea esté completada, finaliza la tarea para recibir tu pago.</p>
            <div class="w-44 text-primary">
              <svg viewBox="0 0 1024 1024" fill="#19A7CE" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor" stroke-width="20.48">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    d="M824.8 1003.2H203.2c-12.8 0-25.6-2.4-37.6-7.2-11.2-4.8-21.6-12-30.4-20.8-8.8-8.8-16-19.2-20.8-30.4-4.8-12-7.2-24-7.2-37.6V260c0-12.8 2.4-25.6 7.2-37.6 4.8-11.2 12-21.6 20.8-30.4 8.8-8.8 19.2-16 30.4-20.8 12-4.8 24-7.2 37.6-7.2h94.4v48H203.2c-26.4 0-48 21.6-48 48v647.2c0 26.4 21.6 48 48 48h621.6c26.4 0 48-21.6 48-48V260c0-26.4-21.6-48-48-48H730.4v-48H824c12.8 0 25.6 2.4 37.6 7.2 11.2 4.8 21.6 12 30.4 20.8 8.8 8.8 16 19.2 20.8 30.4 4.8 12 7.2 24 7.2 37.6v647.2c0 12.8-2.4 25.6-7.2 37.6-4.8 11.2-12 21.6-20.8 30.4-8.8 8.8-19.2 16-30.4 20.8-11.2 4.8-24 7.2-36.8 7.2z"
                    fill=""></path>
                  <path
                    d="M752.8 308H274.4V152.8c0-32.8 26.4-60 60-60h61.6c22.4-44 67.2-72.8 117.6-72.8 50.4 0 95.2 28.8 117.6 72.8h61.6c32.8 0 60 26.4 60 60v155.2m-430.4-48h382.4V152.8c0-6.4-5.6-12-12-12H598.4l-5.6-16c-12-33.6-43.2-56-79.2-56s-67.2 22.4-79.2 56l-5.6 16H334.4c-6.4 0-12 5.6-12 12v107.2zM432.8 792c-6.4 0-12-2.4-16.8-7.2L252.8 621.6c-4.8-4.8-7.2-10.4-7.2-16.8s2.4-12 7.2-16.8c4.8-4.8 10.4-7.2 16.8-7.2s12 2.4 16.8 7.2L418.4 720c4 4 8.8 5.6 13.6 5.6s10.4-1.6 13.6-5.6l295.2-295.2c4.8-4.8 10.4-7.2 16.8-7.2s12 2.4 16.8 7.2c9.6 9.6 9.6 24 0 33.6L449.6 784.8c-4.8 4-11.2 7.2-16.8 7.2z"
                    fill=""></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 5: Cobrar</h2>
          <div class="flex gap-2">
            <p class="">Haz clic en "Cobrar" y completa el formulario para recibir tu pago.</p>
            <div class="w-44 text-primary fill-primary">
              <svg fill="" viewBox="-5 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="m1.44 24c-.795 0-1.44-.645-1.44-1.44v-16.904c0-.795.645-1.44 1.44-1.44h1.705.001c.054 0 .106.013.151.036l-.002-.001v-4.082-.001c0-.093.075-.168.168-.168h.001 6.018.001c.093 0 .168.075.168.168v.001 4.058c.024-.006.052-.01.08-.01h1.515c.795 0 1.44.645 1.44 1.44v4.031c.042-.021.092-.033.145-.033h.001.756c.186 0 .337.151.337.337v8.772c0 .186-.151.337-.337.337h-.756-.001c-.053 0-.102-.012-.147-.034l.002.001v3.492c0 .795-.645 1.44-1.44 1.44zm7.324-3.231v1.134c0 .093.076.169.169.169h1.334c.093 0 .169-.076.169-.169v-1.134c0-.093-.076-.168-.169-.168h-1.336c-.093 0-.168.075-.169.168zm-3.156 0v1.134c0 .093.076.169.169.169h1.333c.093 0 .169-.076.169-.169v-1.134c0-.093-.076-.168-.169-.168h-1.334c-.093 0-.168.075-.169.168zm-3.156 0v1.134.001c0 .093.075.168.168.168h1.334c.093 0 .169-.076.169-.169v-1.134c0-.093-.076-.168-.169-.168h-1.334c-.093 0-.168.075-.168.168zm6.311-2.571v1.134c0 .093.076.169.169.169h1.334c.093 0 .169-.076.169-.169v-1.134-.001c0-.093-.075-.168-.168-.168h-.001-1.335-.001c-.093 0-.168.075-.168.168v.001zm-3.156 0v1.134c0 .093.076.169.169.169h1.334c.093 0 .169-.076.169-.169v-1.134-.001c0-.093-.075-.168-.168-.168h-.001-1.334-.001c-.093 0-.168.075-.168.168zm-3.156 0v1.134.001c0 .093.075.168.168.168h1.334c.093 0 .169-.076.169-.169v-1.134-.001c0-.093-.075-.168-.168-.168h-.001-1.334c-.093 0-.168.075-.168.168zm6.311-2.572v1.134.001c0 .093.075.168.168.168h.001 1.334.001c.093 0 .168-.075.168-.168v-.001-1.134c0-.093-.076-.168-.169-.168h-1.334c-.093 0-.168.075-.169.168zm-3.156 0v1.134.001c0 .093.075.168.168.168h.001 1.334.001c.093 0 .168-.075.168-.168v-.001-1.134c0-.093-.076-.168-.169-.168h-1.334c-.093 0-.168.075-.169.168zm-3.156 0v1.134.001c0 .093.075.168.168.168h1.335.001c.093 0 .168-.075.168-.168v-.001-1.134c0-.093-.076-.168-.169-.168h-1.334c-.093 0-.168.075-.168.168zm-.21-6.713v4.911.001c0 .093.075.168.168.168h.001 7.76.001c.093 0 .168-.075.168-.168v-.001-4.911c0-.093-.076-.169-.169-.169h-7.76c-.093 0-.169.076-.169.169zm-.504-2.682v1.189.001c0 .279.226.505.505.505h.001 8.398c.279 0 .505-.226.505-.505v-.001-1.189c0-.279-.226-.505-.505-.505h-.99v1.01h.488v.178h-7.392v-.178h.32.001c.084 0 .164-.021.233-.057l-.003.001v-.898c-.067-.035-.146-.056-.231-.056 0 0 0 0-.001 0h-.826c-.278 0-.504.226-.504.505z"></path></g></svg>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 px-4 py-3 bg-white border border-gray-200 rounded-lg shadow">
          <h2 class="text-xl font-bold text-primary">Paso 6: Dejar una reseña</h2>
          <div class="flex gap-2">
            <p class="">Deja una reseña sobre el creador de la tarea para ayudar a otros usuarios.</p>
            <div class="w-44 text-primary">
              <svg fill="#19A7CE" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" stroke="currentColor"
                stroke-width="0.96">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g data-name="37 rating" id="_37_rating">
                    <path
                      d="M42.83,3.5H21.17a6,6,0,0,0-6,6V28.66a6,6,0,0,0,6,6H23.4l7.84,9.23a1,1,0,0,0,1.1.29.992.992,0,0,0,.66-.94V34.66h9.83a6,6,0,0,0,6-6V9.5A6,6,0,0,0,42.83,3.5Zm4,25.16a4,4,0,0,1-4,4H32a1,1,0,0,0-1,1v6.86l-6.38-7.51a1.011,1.011,0,0,0-.76-.35H21.17a4,4,0,0,1-4-4V9.5a4,4,0,0,1,4-4H42.83a4,4,0,0,1,4,4Z">
                    </path>
                    <path d="M44.66,10.75a1,1,0,0,1-1,1H20.34a1,1,0,0,1,0-2H43.66A1,1,0,0,1,44.66,10.75Z"></path>
                    <path d="M44.66,14.92a1,1,0,0,1-1,1H20.34a1,1,0,0,1,0-2H43.66A.99.99,0,0,1,44.66,14.92Z"></path>
                    <path d="M44.66,19.08a1,1,0,0,1-1,1H20.34a1,1,0,0,1,0-2H43.66A1,1,0,0,1,44.66,19.08Z"></path>
                    <path d="M44.66,23.25a1,1,0,0,1-1,1H28.67a1,1,0,0,1,0-2H43.66A.99.99,0,0,1,44.66,23.25Z"></path>
                    <path d="M44.66,27.41a1,1,0,0,1-1,1H28.67a1,1,0,0,1,0-2H43.66A1,1,0,0,1,44.66,27.41Z"></path>
                    <path
                      d="M18.65,46.55a1.009,1.009,0,0,0-.95-.69H13.57l-1.28-3.93a1,1,0,0,0-1.9,0L9.11,45.86H4.98a1,1,0,0,0-.59,1.81L7.73,50.1,6.46,54.02a1,1,0,0,0,.95,1.31A1.01,1.01,0,0,0,8,55.14l3.34-2.43,3.34,2.43a1,1,0,0,0,1.54-1.11L14.94,50.1l3.35-2.43A1.012,1.012,0,0,0,18.65,46.55Zm-5.83,3.47.55,1.7-1.44-1.05a.99.99,0,0,0-1.18,0L9.31,51.72l.55-1.7a.992.992,0,0,0-.36-1.11L8.06,47.86H9.84a1.009,1.009,0,0,0,.95-.69l.55-1.7.55,1.7a1,1,0,0,0,.95.69h1.78l-1.44,1.05A.977.977,0,0,0,12.82,50.02Z">
                    </path>
                    <path
                      d="M39.31,51.71a1,1,0,0,0-.95-.69H34.23l-1.28-3.93a1,1,0,0,0-1.9,0l-1.28,3.93H25.64a1,1,0,0,0-.59,1.81l3.35,2.43-1.28,3.93a1.012,1.012,0,0,0,.36,1.12,1.022,1.022,0,0,0,1.18,0L32,57.88l3.34,2.43a1.011,1.011,0,0,0,1.18,0,1.012,1.012,0,0,0,.36-1.12L35.6,55.26l3.35-2.43A1,1,0,0,0,39.31,51.71Zm-5.83,3.48.55,1.69-1.44-1.05a1.011,1.011,0,0,0-1.18,0l-1.44,1.05.55-1.69a.992.992,0,0,0-.36-1.12l-1.44-1.05H30.5a1,1,0,0,0,.95-.69L32,50.64l.55,1.69a1,1,0,0,0,.95.69h1.78l-1.44,1.05A.992.992,0,0,0,33.48,55.19Z">
                    </path>
                    <path
                      d="M59.97,46.55a.991.991,0,0,0-.95-.69H54.89l-1.28-3.93a1,1,0,0,0-1.9,0l-1.28,3.93H46.3a1,1,0,0,0-.59,1.81l3.35,2.43-1.28,3.93a1,1,0,0,0,1.54,1.11l3.34-2.43L56,55.14a1.01,1.01,0,0,0,.59.19.967.967,0,0,0,.59-.19.987.987,0,0,0,.36-1.12L56.27,50.1l3.34-2.43A1,1,0,0,0,59.97,46.55Zm-5.83,3.47.55,1.7-1.44-1.05a.988.988,0,0,0-.59-.19,1.01,1.01,0,0,0-.59.19l-1.44,1.05.55-1.7a.977.977,0,0,0-.36-1.11l-1.44-1.05h1.78a1,1,0,0,0,.95-.69l.55-1.7.55,1.7a1.009,1.009,0,0,0,.95.69h1.78L54.5,48.91A.992.992,0,0,0,54.14,50.02Z">
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>