<div class="flex flex-col mx-2 md:mx-4">
  <h1 class="font-bold text-lg">Términos y Condiciones de Atenas</h1>

  <p class="">
    Bienvenido a Atenas. Antes de utilizar nuestros servicios, por favor lee detenidamente los siguientes términos y condiciones. Al acceder y utilizar nuestra plataforma, aceptas estos términos en su totalidad. Si no estás de acuerdo con alguno de estos términos, por favor no utilices nuestros servicios.
  </p>

  <div class="">
    <p class="font-semibold">
      1. Uso de la Plataforma
    </p>
    <p class="ml-2">
      1.1. Atenas es una plataforma en línea que facilita la publicación, oferta y realización de tareas académicas a cambio de una compensación monetaria.
    </p>
    <p class="ml-2">
      1.2. Al utilizar Atenas, aceptas que eres responsable de cumplir con todas las leyes, reglas y regulaciones aplicables.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      2. Publicación y Oferta de Tareas
    </p>
    <p class="ml-2">
      2.1. Los usuarios pueden publicar tareas académicas en Atenas, especificando los detalles de la tarea y la compensación ofrecida.
    </p>
    <p class="ml-2">
      2.2. Otros usuarios pueden realizar ofertas a las tareas publicadas.
    </p>
    <p class="ml-2">
      2.3. Las ofertas no deben contener formas de contacto con el ofertante (teléfono, correo electrónico, etc.). Cualquier oferta que incluya dicha información será eliminada.
    </p>
    <p class="ml-2">
      2.4. El creador de la tarea tiene el derecho de seleccionar al mejor postor entre las ofertas recibidas.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      3. Proceso de Pago y Transferencia de Fondos
    </p>
    <p class="ml-2">
      3.1. Una vez que el creador de la tarea acepta una oferta, se le mostrarán los datos de la billetera digital de Atenas para que realice la transferencia de la compensación acordada.
    </p>
    <p class="ml-2">
      3.2. El creador de la tarea debe enviar una captura de pantalla o constancia de la transferencia de dinero en el formulario que se le proporcionará una vez aceptada la oferta.
    </p>
    <p class="ml-2">
      3.3. Atenas validará la transferencia de fondos antes de permitir que los usuarios comiencen a comunicarse.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      4. Comunicación y Proceso de Completado
    </p>
    <p class="ml-2">
      4.1. Una vez validada la transferencia, los usuarios pueden comenzar a comunicarse a través de la plataforma Atenas para discutir los detalles de la tarea.
    </p>
    <p class="ml-2">
      4.2. Después de completar la tarea, el creador de la tarea puede marcarla como completada en la plataforma.
    </p>
    <p class="ml-2">
      4.3. El ofertante debe completar un formulario para solicitar la transferencia de la compensación acordada.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      5. Política de Reembolsos
    </p>
    <p class="ml-2">
      5.1. Si una de las partes no está de acuerdo en marcar la tarea como completada, Atenas se reserva el derecho a tomar una decisión sobre la distribución de la compensación.
    </p>
    <p class="ml-2">
      5.2. Atenas puede optar por reembolsar al creador de la tarea o transferir la compensación al ofertante, según su discreción.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      6. Comisión de Atenas
    </p>
    <p class="ml-2">
      6.1. Atenas cobra una comisión del 10% sobre la compensación acordada por la realización de la tarea.
    </p>
    <p class="ml-2">
      6.2. La comisión de Atenas se deducirá automáticamente del monto total de la compensación antes de realizar cualquier transferencia.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      7. Responsabilidades del Usuario
    </p>
    <p class="ml-2">
      7.1. Los usuarios son responsables de la precisión de la información proporcionada al utilizar Atenas.
    </p>
    <p class="ml-2">
      7.2. Los usuarios deben cumplir con los términos y condiciones establecidos por Atenas, así como con todas las leyes aplicables.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      8. Cancelación y Reembolsos
    </p>
    <p class="ml-2">
      8.1. Atenas se reserva el derecho de cancelar cualquier tarea u oferta que viole estos términos y condiciones o que se considere inapropiada.
    </p>
    <p class="ml-2">
      8.2. No se realizarán reembolsos una vez que se haya completado una transacción, a menos que se determine lo contrario por parte de Atenas.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      9. Modificaciones de los Términos y Condiciones
    </p>
    <p class="ml-2">
      9.1. Atenas se reserva el derecho de modificar estos términos y condiciones en cualquier momento.
    </p>
    <p class="ml-2">
      9.2. Los cambios entrarán en vigencia una vez publicados en la plataforma Atenas.
    </p>
  </div>

  <div class="">
    <p class="font-semibold">
      10. Contacto
    </p>
    <p class="ml-2">
      10.1. Para cualquier pregunta o preocupación sobre estos términos y condiciones, por favor contáctanos en <a href="mailto:atenas.app@gmail.com" class="text-primary">atenas.app@gmail.com</a>.
    </p>
  </div>

  <p class="">
    Al utilizar la plataforma Atenas, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguno de estos términos, por favor no utilices nuestros servicios.
  </p>
</div>
