<%= turbo_frame_tag notification do %>
  <%= link_to notification.path, data: { turbo_frame: "_top" }, class: "w-full px-4 py-3 mb-4 bg-white border border-gray-200 rounded-lg shadow flex flex-col" do %>
    <div class="mb-2 text-base font-normal">
      <%= notification_message(notification) %>
    </div>
    <div class="text-sm text-gray-400 self-end">
      <%= time_ago_in_words(notification.created_at) %>
    </div>
  <% end %>
<% end %>
