<div class="w-full mb-4">
  <%= link_to sanitize("&larr; ") + t("pages.common.back"),
      request.referer && request.hostname.include?(URI(request.referer).host) ? :back : root_path,
      class: "text-primary font-medium border-b-2 border-transparent hover:border-primary" %>
</div>
