<div id="pager" class="flex justify-center">
  <div>
    <% if resource.next_page.present? %>
      <%= link_to t("pages.common.see_more"),
                  path,
                  class: "btn bg-third hover:bg-third-light",
                  data: { turbo_stream: "" } %>
    <% end %>
  </div>
</div>
