<div id="pager" class="flex justify-center">
  <div>
    <% if resource.next_page.present? %>
      <%= link_to "Ver más",
                  tasks_path(page: resource.next_page),
                  class: "btn bg-third hover:bg-third-light",
                  data: { turbo_stream: "" } %>
    <% end %>
  </div>
</div>
