@tailwind base;
@tailwind components;
@tailwind utilities;

button .show-when-disabled {
  display: none;
}

button[disabled] .show-when-disabled {
  display: initial;
}

button .show-when-enabled {
  display: initial;
}

button[disabled] .show-when-enabled {
  display: none;
}

@layer components {
  .btn {
    @apply text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center cursor-pointer whitespace-nowrap block
  }

  .input {
    @apply block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 md:text-xs focus:ring-blue-500 focus:border-blue-500
  }

  .label {
    @apply block mb-1 text-sm font-medium text-gray-900
  }

  .select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 md:text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2
  }

  .date-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 md:text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 md:p-2
  }

  .checkbox {
    @apply w-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5
  }
}