@tailwind base;
@tailwind components;
@tailwind utilities;

button .show-when-disabled {
  display: none;
}

button[disabled] .show-when-disabled {
  display: initial;
}

button .show-when-enabled {
  display: initial;
}

button[disabled] .show-when-enabled {
  display: none;
}

* {
  touch-action: manipulation;
}

@layer components {
  .btn {
    @apply text-white font-medium rounded-lg text-sm w-full px-5 py-2 text-center cursor-pointer whitespace-nowrap block
  }

  .input {
    @apply block w-full p-2 text-gray-900 border rounded-lg bg-gray-50 text-sm !outline-none border-gray-300 focus:border-gray-400
  }

  .label {
    @apply block mb-1 text-sm font-medium text-gray-900
  }

  .select {
    @apply bg-gray-50 border text-gray-900 md:text-xs rounded-lg !outline-none border-gray-300 focus:border-gray-400 block w-full p-2
  }

  .date-input {
    @apply bg-gray-50 border text-gray-900 md:text-xs rounded-lg !outline-none border-gray-300 focus:border-gray-400 block w-full p-1.5 md:p-2
  }

  .checkbox {
    @apply w-5 bg-gray-50 border text-gray-900 text-sm rounded-lg !outline-none border-gray-300 hover:border-gray-400 p-2.5 cursor-pointer
  }

  .channel-notification {
    @apply w-3 h-3 bg-primary rounded-[50%]
  }

  .dot-notification {
    @apply w-3 h-3 bg-negative-light absolute top-0 -left-1 rounded-[50%]
  }
}