<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="margin: 0; background-color: #19A7CE; padding: 2rem; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div style="background-color: #fff; padding: 0.5rem 1rem; border-radius: 0.75rem; margin-left: auto; margin-right: auto; max-width: 512px;">
      <%= yield %>
    </div>
  </body>
</html>
